        body {
            font-family: 'Space Grotesk', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #121212; /* Fundo escuro */
			color: #e0e0e0; /* Texto claro */
            overflow: hidden;
            position: relative;
        }

        /* Imagens de fundo */
        .background-image {
            position: fixed;
            top: 50%;
            width: 17%;
            transform: translateY(-50%);
            opacity: 0.08; /* Mudado para 1 */
            z-index: -1;
        }

        .background-left {
            left: 0;
        }

        .background-right {
            right: 0;
        }

        .container {
            max-width: 600px;
            width: 100%;
            max-height: 50vh;
            padding: 80px 100px;
            border: none; /* Borda sutil */
            border-radius: 0px;
            clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%);
            text-align: left;
			background-color: #151515; /* Fundo escuro dos formulários */
			color: #e0e0e0; /* Texto claro */
            display: none;
            z-index: 1;
            overflow-y: auto;
        }

        .container.visible {
            display: block;
        }

        h2 {
            font-weight: 700;
            margin: 0px 0px 40px 0px;
            text-align: center;
        }

        p, label {
            font-weight: 400;
            color: #b3b3b3;
            display: block;
        }

        form#form-stage4 > div {
        margin: 10px 0 30px 0;
        }
		
		form#form-stage4 > div > label {
			line-height: 1.5;
		}
		
		form#form-stage3 > div {
        margin-top: 10px;
        }
		
		form#form-stage5 > div {
        margin-top: 10px;
        }
		
		form#form-stage5 > div > label {
			line-height: 1.5;
		}
		
		form#form-stage3 > div > label {
		margin-bottom: 3px;
		}
		
		form#form-stage2 > div {
        margin-bottom: 40px;
        }
        
		form#form-stage2 > div > label {
		padding-top: 15px;
		font-weight: 400;
		}
		
		form > button {
		margin-top: 20px;
		}
		
        /* Estilo para perguntas */
        label {
            font-weight: 500;
        }

        /* Estilo para subtextos */
        .subtext {
            font-weight: 100;
            font-style: italic;
            margin: 0 0 8px 0; /* Adicionando margens para espaçamento */
            color: #a0a0a0;
        }

        input[type="text"], input[type="email"], textarea {
            width: 100%;
            padding: 8px;
            border: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
            font-weight: 400;
            margin: 10px 0 30px 0;
        }

        input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
            outline: none;
            border-bottom: 1px solid black;
        }

        button {
            padding: 10px 30px;
            width: auto;
            border: none;
			border: 1px solid #333;
            background-color: #121212; /* Botões escuros */
            color: #e0e0e0; /* Texto claro */
            font-size: 16px;
            cursor: pointer;
            border-radius: 30px;
            font-weight: 600;
            display: block;
            margin: 0 auto;
        }

		button:hover {
			background-color: #555; /* Tom mais claro ao passar o mouse */
		}

        /* Estilo para os botões de navegação */
        .nav-button {
            width: 40px;
            height: 40px;
            background-color: #333; /* Cor cinza claro */
            color: #e0e0e0;
            border: none;
            cursor: not-allowed; /* Cursor indicando que está inativo */
            position: fixed;
            bottom: 20px;
            z-index: 2;
            opacity: 0.5; /* Opacidade para indicar que está inativo */
            padding: unset; /* Removendo padding */
        }

        .nav-button.active {
            background-color: #555; /* Cor ativa */
            cursor: pointer; /* Cursor indicando que está ativo */
            opacity: 1; /* Opacidade normal quando ativo */
        }

        .up-button {
            right: 70px; /* Ajustado para o canto inferior direito */
        }

        .down-button {
            right: 20px; /* Ajustado para o canto inferior direito */
        }

        /* Imagem fixa na parte inferior */
		.bottom-image {
			position: fixed;
			bottom: 4%;
			width: 180px;
			filter: brightness(0) invert(1);
		}

        div#welcome-screen > h2 {
        font-size: 35px;
        }

		div#box6 > h2 {
        font-size: 35px;
        }

		div#box6 > p {
			margin: 0;
		}
		
		a {
			color: #1e90ff; /* Azul para links */
		}

		a:hover {
			color: #63a4ff; /* Azul mais claro ao passar o mouse */
		}
		
		div#box6 > p > a {
			color: #333;
		}		

		div#box6 > button {
			margin-top: 30px;
		}

        #welcome-screen > h2 > i {
        font-weight: 200;
        }
		
		#welcome-screen > button {
		margin-top: 30px;
		}
		
		#welcome-screen p {
		line-height: 1.5;
		}
		
		.logo-link a {
			display: flex;
			justify-content: center;
		}

		.checkbox-group {
		    margin-bottom: 20px;
		}
		
			/* Redimensiona os campos de entrada e textos */
			input[type="text"], input[type="email"], textarea {
				font-size: 14px;
				margin: 5px 0 20px 0;
				max-width: 95%;
				background-color: #151515; /* Fundo escuro */
				color: #e0e0e0; /* Texto claro */
				border-bottom: 1px solid #444; /* Borda sutil */
			}
			
			input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
				border-bottom: 1px solid #e0e0e0; /* Destaque ao focar */
			}
		
		/* Responsividade para telas menores que 768px */
		@media (max-width: 768px) {
			/* Ajusta a largura e o padding do container */
			.container {
				max-width: 70%;
				padding: 0px 20px;
				background-color: unset;
				box-shadow: none;
				margin-top: -12%;
			}
			
			input[type="text"], input[type="email"], textarea {
				background-color: #121212;
			}

			/* Redimensiona e centraliza as imagens de fundo */
			.background-image {
				width: 200px;
				opacity: 0;
			}

			.bottom-image {
				width: 150px;
				bottom: 5%;
		}
			}

			/* Ajusta o tamanho da fonte no título e no parágrafo */
			h2 {
				font-size: 24px;
				margin-bottom: 30px;
				color: #e0e0e0; /* Títulos claros */
			}
			
			div#welcome-screen > h2 {
				font-size: 30px;
			}
			
			p, label {
				font-size: 14px;
			}

			/* Ajusta os botões para telas menores */
			button {
				padding: 10px 20px;
				font-size: 14px;
				margin-top: 30px;
			}

			/* Ajuste dos botões de navegação */
			.nav-button {
				width: 30px;
				height: 30px;
				bottom: 10px;
				opacity: 0.8;
				border-radius: 0px;
			}
			.up-button {
				right: 50px;
			}
			.down-button {
				right: 10px;
			}

		}
